body {
    margin: 0;
    padding:0;
    /*background-color: #000;*/
}

.slides {
    width: 1560px;
    height: 1040px;
    background-color: rgba(0, 0, 0, 0.05);
}

.slides > .slide {
    opacity: 0;
}

.slides-info {
    position: absolute;
    left: 0;
    top: 0;
    color: #ff0000;
    font-size: 18px;
}