<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>node-express-mongodb-jwt-rest-api-skeleton</title>
  <link rel='stylesheet' href='css/reset.css'>
  <style>
    html, body {
      height: 100%;
      width: 100%;
    }

    body {
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      background-position: center;
      display: flex;
      flex-direction: row;
      background: rgb(42, 185, 253);
      background: linear-gradient(0deg, rgba(42, 185, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
  </style>
</head>

<body>
<div style='width:100%;'>
  <h1 style='text-align:center; margin-top: 50px'>Spovizz <br /> API Webservice (v<%= version %>)</h1>
</div>

</body>

</html>
